<h1> <%= @category.name %> gifs </h1>


  <% @category.gifs.each do |gif| %>

  <div class="gifs">
    <iframe width='640' height='390' src="<%= gif.image_url %>" frameborder="0"></iframe><br/>
  </div>

  <div class="favorites">
    <%= button_to "Add to favorites", favorite_gif_path(gif, type: "favorite"), method: :put %>
    <%= button_to "Remove from favorites", favorite_gif_path(gif, type: "unfavorite"), method: :put %>
  </div>

  <% end %>
