<h1> <%= @category.name %> gifs </h1>


  <% @category.gifs.each do |gif| %>

  <div class="gifs">
    <iframe width='640' height='390' src="<%= gif.image_url %>" frameborder="0"></iframe><br/>
  </div>

  <div class="favorites">
    <%= button_to "Add to favorites", user_favorites_path(@user), method: :post %>
  </div>

  <% end %>
