<h1> <%= @category.name %> gifs </h1>

<div class="gifs">
  <% @category.gifs.each do |gif| %>
    <iframe width="300" height="300" src="<%= gif.image_url %>" frameborder="0"></iframe><br/>
  <% end %>
</div>
